<div class="content" role="main">

    <div class="container">
        <form [formGroup]="seriesForm" (ngSubmit)="searchSeries(seriesForm)">
            <div class="row search-row">
                <div class="col-sm-8 no-right-padding">
                    <input type="text" class="form-control" formControlName="searchText" placeholder="Search..." />
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class='fa fa-search'></span>
                </button>
                <button type="button" (click)="clearAndShowNewSeriesToday()" class="btn btn-success">
                    <span class='fa fa-refresh'></span>
                </button>
            </div>
        </form>
    </div>

    <div class="card-container" *ngIf="searchShows.length != 0">
        <div *ngFor="let series of sortedSearchSeriesList()">
            <div [ngClass]="{'card' : !series.isAdded, 'cardAdded' : series.isAdded}" (click)="addSeries(series, 2)">
                <div class="row">
                    <div>
                        <img *ngIf="series.show.image" src="{{series.show.image.original}}" />
                    </div>
                    <div class="textStyle col-sm-10">
                        <div>
                            <span><b>{{series.show.name}}</b></span>
                        </div>
                        <div [innerHTML]="series.show.summary"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-container" *ngIf="searchShows.length == 0">
        <div *ngFor="let series of sortedNewSeriesList()">
            <div [ngClass]="{'card' : !series.isAdded, 'cardAdded' : series.isAdded}" (click)="addSeries(series, 1)">
                <div class="row">
                    <div>
                        <img *ngIf="series.image" src="{{series.image.original}}" />
                    </div>
                    <div class="textStyle col-sm-10">
                        <div>
                            <span><b>{{series.seriesName}}</b></span>
                        </div>
                        <div [innerHTML]="series.summary"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>