<nav class="navbar navbar-color navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div [ngClass]="{'navbar-header':loginSuccessful, 'header':!loginSuccessful}">
      <h2 [ngClass]="{'loggedInHeader':loginSuccessful, 'notLoggedInHeader':!loginSuccessful}">Series Manager</h2>
    </div>

    <div *ngIf="loginSuccessful && sharedDataService.loadedDataCount == sharedDataService.totalDataCount" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" [ngClass]="{'active' : activeLink == 'allseries'}"><a class="nav-link" href="#" (click)="setActiveLink('allseries')" [routerLink]="['allseries']">All Series</a></li>
        <li class="nav-item" [ngClass]="{'active' : activeLink == 'today'}"><a class="nav-link" href="#" (click)="setActiveLink('today')"[routerLink]="['today']">Series Today</a></li>
        <li class="nav-item" [ngClass]="{'active' : activeLink == 'newtoday'}"><a class="nav-link" href="#" (click)="setActiveLink('newtoday')" [routerLink]="['newtoday']">New Series Today</a></li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active' : activeLink == series.seriesName}" *ngFor="let series of seriesPageList"><a class="nav-link" href="#" [routerLink]="[series.routerLink]" (click)="changePageData(series.seriesId, series.seriesName)">{{series.seriesName}}</a></li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="download-csv" *ngIf="!csvRefreshed"><button (click)="refreshCSV()">Refresh CSV</button></li>
        <li class="download-csv" *ngIf="csvRefreshed"><angular2csv [data]="data" filename="series" [options]="options"></angular2csv></li>
        <li><a href="#" class="my-2 my-sm-0" (click)="onLogoutClick()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>