<nav class="navbar navbar-color navbar navbar-expand navbar-light fixed-top">
  <div class="container-fluid">
    <div class="header" *ngIf="!loginSuccessful || !sharedDataService.initialLoadCompleted">
      <h2 class="notLoggedInHeader">Series Manager</h2>
    </div>

    <div *ngIf="loginSuccessful && sharedDataService.initialLoadCompleted" class="collapse navbar-collapse">
      <ul class="navbar-nav" [ngClass] = "{'mr-auto' : tabList.length == 0}">
        <li class="nav-item download-csv"><button class="button-nav" [ngClass]="{'active' : activeLink == 'allseries'}" (click)="setActiveLink('allseries')" [routerLink]="['allseries']">Series Streaming Now</button></li>
        <li class="nav-item download-csv"><button class="button-nav" [ngClass]="{'active' : activeLink == 'undetermined'}" (click)="setActiveLink('undetermined')" [routerLink]="['undetermined']">Undetermind Series</button></li>
        <li class="nav-item download-csv" *ngIf="isEndedInList"><button class="button-nav" [ngClass]="{'active' : activeLink == 'ended'}" (click)="setActiveLink('ended')" [routerLink]="['ended']">Ended Series</button></li>
        <li class="nav-item download-csv"><button class="button-nav" [ngClass]="{'active' : activeLink == 'today'}" (click)="setActiveLink('today')" [routerLink]="['today']">Episodes For Download Today</button></li>
        <li class="nav-item download-csv"><button class="button-nav" [ngClass]="{'active' : activeLink == 'newtoday'}" (click)="setActiveLink('newtoday')" [routerLink]="['newtoday']">New Series Today <span class="counter counter-lg message-count" *ngIf="newShowsCount != 0"> {{newShowsCount}} </span></button></li>
      </ul>
      <button *ngIf="leftCounter > 0" class="close-button" (click)="moveLeft()">
        <span class='fa fa-arrow-circle-left'></span>
      </button>
      <ul class="navbar-nav mr-auto" *ngIf="tabList.length != 0">
        <li class="nav-item download-csv" *ngFor="let tabIndex of tabCounter(); let i = index;"><button class=" button-nav show-details-button"
          [ngClass]="{'active' : activeLink == tabList[tabIndex].routerLink}" [routerLink]="[tabList[tabIndex].routerLink]"><span (click)="changePageData(tabList[tabIndex])"> {{tabIndex + 1}}. {{nameSizeLimit(tabList[tabIndex])}}</span>
          <button *ngIf="tabList[tabIndex].closeAble" class="close-button" (click)="closePage(tabList[tabIndex])">
            <span class='fa fa-times-circle'></span>
          </button>
        </button>
      </li>
      </ul>
      <button *ngIf="tabList.length > tabLimit && rightCounter != tabList.length" class="close-button" (click)="moveRight()">
        <span class='fa fa-arrow-circle-right'></span>
      </button>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="download-csv" *ngIf="!csvRefreshed"><button class="button-nav" (click)="refreshCSV()">Refresh CSV</button></li>
        <li class="download-csv" *ngIf="csvRefreshed">
          <angular2csv [data]="data" filename="series" [options]="options"></angular2csv>
        </li>
        <li><button class="button-nav" (click)="onLogoutClick()">Logout</button></li>
      </ul>
    </div>
  </div>
</nav>