.navbar-color {
    background-color: DodgerBlue;
    border-color: DodgerBlue;
}
.navbar {
    border-radius: 0px;
}
.a-style{
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
    margin-left: -15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.span{
    color: black;
}
.loggedInHeader {
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
    margin-left: -15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notLoggedInHeader {
    float: none;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.header {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    box-sizing: border-box;
}

.download-csv {
    padding-right: 5px;
}

button {
    background-color: dodgerblue;
    float: left;
    border: solid 1px darkblue;
    border-radius: 10%;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(102, 208, 226);
}

button.active {
    background-color: rgb(102, 208, 226)
}