<div class="content">
    <div class="row">
        <div>
            <img *ngIf="series.image" src="{{series.image.original}}" />
        </div>

        <div class="textStyle col-sm-8">
            <div class="row">
                <span class="header-row">
                    <h2>{{series.name}}</h2>
                </span>
                <button type="submit" class="btn btn-danger header-row" (click)="deleteShow()">
                    <span class='fa fa-trash'></span>
                </button>
            </div>
            <div>
                <span>{{series.status}}</span>
            </div>
            <i>
                <div [innerHTML]="series.summary"></div>
            </i>

            <ul class="nav nav-tabs">
                <li class="nav-item" (click)="activateTab(1)">
                    <a class="nav-link" [ngClass]="{'active' : activeTab == 1}">Seasons</a>
                </li>
                <li class="nav-item" (click)="activateTab(2)">
                    <a class="nav-link" [ngClass]="{'active' : activeTab == 2}">Download Links</a>
                </li>
                <li class="nav-item" (click)="activateTab(3)">
                    <a class="nav-link" [ngClass]="{'active' : activeTab == 3}">Wikis</a>
                </li>
            </ul>

            <div *ngIf="series.seasons && activeTab == 1">
                <ul class="nav nav-pills">
                    <li class="nav-item" *ngFor="let season of getSeasonList()"
                        (click)="activateSeasonTab(season.number)">
                        <a class="nav-link" [ngClass]="{'active' : activeSeasonTab == season.number}">Season
                            {{season.number}}</a>
                    </li>
                </ul>
            </div>

            <div *ngIf="!isDataLoaded && series.seasons && activeTab == 1">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
            </div>

            <div *ngIf="series.seasons && activeTab == 1 && series['seasons']['season' + activeSeasonTab + 'episodes']">
                <table class="table table-bordered table-hover table-sm">
                    <tr>
                        <th>Episode</th>
                        <th>Name</th>
                        <th>Airdate</th>
                        <th>Download</th>
                    </tr>
                        <tr *ngFor="let episode of series['seasons']['season' + activeSeasonTab + 'episodes']">
                            <td *ngIf="!isAired(episode.airdate)"><i>{{episode.number}}</i></td>
                            <td *ngIf="!isAired(episode.airdate)"><i>{{episode.name}}</i></td>
                            <td *ngIf="!isAired(episode.airdate)"><i>{{episode.airdate}}</i></td>
                            <td *ngIf="!isAired(episode.airdate)">
                                <button class="btn btn-primary" (click)="openDownloadLink(activeSeasonTab, episode.number)" disabled="true">
                                    <span class='fa fa-download'></span>
                                </button>
                            </td>
                            <td *ngIf="isAired(episode.airdate)">{{episode.number}}</td>
                            <td *ngIf="isAired(episode.airdate)">{{episode.name}}</td>
                            <td *ngIf="isAired(episode.airdate)">{{episode.airdate}}</td>
                            <td *ngIf="isAired(episode.airdate)"> 
                                <button class="btn btn-primary" (click)="openDownloadLink(activeSeasonTab, episode.number)">
                                    <span class='fa fa-download'></span>
                                </button>
                            </td>
                        </tr>
                </table>
            </div>

            <div *ngIf="series.seasons && activeTab == 1 && series['seasons']['season' + activeSeasonTab + 'episodes']">
                <i *ngIf="series['seasons']['season' + activeSeasonTab + 'episodes'].length == 0">unlisted</i>
            </div>

            <div *ngIf="activeTab == 2">
                <form [formGroup]="showForm" (ngSubmit)="addDownloadLink(showForm)">
                    <div class="container">
                        <div class="row search-row">
                            <div class="col-sm-8 no-right-padding">
                                <input type="text" class="form-control" formControlName="newLink" placeholder="New Link..."/>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <span class='fa fa-plus'></span>
                            </button>
                        </div>
                    </div>
                </form>
                <div *ngIf="series['downloadLinks'].length != 0" class="table-margin">
                    <table class="table table-bordered table-hover table-sm">
                        <tr *ngFor="let downloadLink of series['downloadLinks']">
                            <th><a href="{{downloadLink}}" target="_blank">{{downloadLink}}</a></th>
                        </tr>
                    </table>
                </div>
            </div>

            <div *ngIf="series.wiki && activeTab == 3">
                <table class="table table-bordered table-hover table-sm">
                    <tr *ngFor="let wiki of series.wiki">
                        <th><a href="{{wiki}}" target="_blank">{{wiki}}</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>