<div class="content" role="main">

    <div>
        <h4>Episodes Today : {{getCount()}}</h4>
    </div>

    <div class="card-container">

        <div *ngFor="let series of sortedSeriesList()">
            <div class="card" (click)="openShowDetails(series)">

                <div class="row">
                    <div>
                        <img src="{{seriesImageList[series.seriesId]}}" />
                    </div>

                    <div class="textStyle col-sm-10">
                        <div>
                            <span><b>{{series.seriesName}}</b></span>
                        </div>
                        <div *ngIf="series.season && series.number">
                            <span>Season {{series.season}} Episode {{series.number}} -
                                {{series.name}}</span>
                        </div>
                        <div>
                            <a href="{{series.torrentLink}}" target="_blank">Download</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>