<div class="content" role="main">
    <div>
        <h4>Series Running : {{getCount()}}</h4>
    </div>
    <div class="select-editable">
        <input type="text" class="form-control" name="format" id="search" (input)="showText(search.value)" #search/>
        <select size="10" *ngIf="filteredSeries.length > 0">
            <ng-container *ngFor="let series of filteredSeries">
                <option (click)="openShowDetails(series)">{{series.seriesName}}</option>
            </ng-container>
        </select>
    </div>
    <div *ngFor="let date of distinctDates">
        <div class="date" *ngIf="today - getDate(date) == 0">
            <span>Today - {{formateDate(today)}}</span>
        </div>
        <div class="date" *ngIf="yesterday - getDate(date) == 0">
            <span>Yesterday - {{formateDate(yesterday)}}</span>
        </div>
        <div class="date" *ngIf="tomorrow - getDate(date) == 0">
            <span>Tomorrow - {{formateDate(tomorrow)}}</span>
        </div>
        <div class="date"
            *ngIf="today - getDate(date) != 0 && tomorrow - getDate(date) != 0 && yesterday - getDate(date) != 0">
            <span>{{date}}</span>
        </div>
        <div class="card-container">

            <div *ngFor="let series of sortedSeriesList()">

                <div class="card" *ngIf="series[date]" (click)="openShowDetails(series)">

                    <div class="row">
                        <div *ngIf="seriesImageList[series.id]">
                            <img src="{{seriesImageList[series.id]}}" />
                        </div>

                        <div *ngIf="!seriesImageList[series.id]">
                            <img src="../../assets/no-image-available.jpg" />
                        </div>

                        <div class="textStyle col-sm-10">
                            <div>
                                <span><b>{{series.name}}</b></span><span *ngIf="series.status == 'Ended'"> ({{series.status}})</span>
                            </div>

                            <div *ngFor="let episode of series[date]">
                                <span *ngIf="episode.number">Season {{episode.season}} Episode {{episode.number}} -
                                    {{episode.name}}</span>
                                <span *ngIf="!episode.number">Season {{episode.season}} Special Episode -
                                    {{episode.name}}</span>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>

    </div>

</div>